.crop-img{
  max-width:100%;
  margin: 0.5rem;
}

.photo-thumbnail{
    max-width:100%;
    margin: 0.5rem;
}

.large-img{
  max-width:100%;
}

.carousel-img{
    margin: auto;
    padding: 10px;
    max-height:300px;
    max-width:100%;
}

.pindent{
    text-indent:2em;
}